<nav class="bg-white p-4 shadow-sm border-b-2 border-emerald-700">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo as Home Link -->
    <a routerLink="/" class="flex items-center space-x-4">
      <img src="logo.png" alt="RPP Logo" class="h-16 object-contain" />
    </a>

    <!-- Menu -->
    <div class="space-x-4">
      @if (isAuthenticated()) {
      <button
        (click)="authService.logout()"
        class="inline-block px-4 py-2 text-emerald-700 font-semibold rounded-md border border-emerald-600 hover:bg-red-700 hover:text-white hover:border-red-700 transition-colors"
      >
        Déconnexion
      </button>
      } @else {
      <a
        routerLink="/login"
        class="inline-block px-4 py-2 text-emerald-700 font-semibold rounded-md border border-emerald-600 hover:bg-emerald-700 hover:text-white hover:border-emerald-700 transition-colors"
      >
        Connexion
      </a>
      }
    </div>
  </div>
</nav>
